configuration{
    modes: "drun,window";
    icon-theme: "Papirus";
    show-icons: true;
    sidebar-mode: false;
}

@import "colors"

* {
    font: "Lilex Nerd Font 14";
}

scrollbar {
    handle-color: @accent;
}
